.headcontainer{
    /* border: 1px solid black; */
    width: 90%;
    padding: 30px 30px ;
    display:  flex;

}
.title h1{
    color:#1c936d ;
    width: 400px;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title p{
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(121, 128, 134);
    padding-bottom: 10px;
}
.title{
    display: block;
}
.storelink{
    padding-left: 50%;
    padding-top: 40px;
}
.container{
    /* border:  1px solid black; */

    padding: 50px 50px;
    display: flex;
}
.maincontainer
{
   
    min-height: 100vh;
    border-left: 1px solid rgb(222, 222, 222);
}
.main{
    /* border: 1px solid black; */
}